@import "tailwindcss";

@theme {
    --color-primary: #f5f5f5;
    --color-secondary: #202a1b;
    --color-accent: #443199;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar {
  width: 9px;
}

/* Width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Thumb */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Horizontal scrollbar */
::-webkit-scrollbar:horizontal {
  height: 8px;
}

/* Scrollbar corner */
::-webkit-scrollbar-corner {
  background: transparent;
}